html,
body,
#root,
.App {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.text-updater-node {
  justify-content: center;
  border: 2px solid rgb(189, 187, 187);
  border-radius: 10px;
  background: white;
}

#text form{
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  color: #777;
  font-size: 12px;
}
#text {
  border-radius: 10px;
  text-align: center;
  border-color: rgba(169, 169, 169, 0);
}
#text:focus {
  cursor: text;
  outline: none !important;
  border-color: #719ece00;
  box-shadow: 0 0 10px #719ece00;
}
#text {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
